@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paleta Industrial Emerald DT - Optimizado para True Black */
  --background: #020202; /* Negro absoluto */
  --foreground: #ffffff;
  --gold-accent: #D4AF37; /* Oro técnico */
  --emerald-accent: #047857;
  --zinc-border: rgba(255, 255, 255, 0.1);
}

/* --- RESET & ESTRUCTURA BASE --- */
html, body {
  height: 100% !important;
  width: 100% !important;
