@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --emerald-primary: #047857;
  --emerald-light: #10b981;
  --gold-accent: #D4AF37;
  --gold-dark: #996515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-emerald: var(--emerald-primary);
  --color-emerald-light: var(--emerald-light);
  --color-gold: var(--gold-accent);
  --color-gold-dark: var(--gold-dark);
  --font-sans: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

/* RESET TOTAL */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Permitimos que el scroll fluya naturalmente */
  overflow-x: hidden;
  height: 100%;
  background-color: #000000;
}

