@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --emerald-primary: #047857;
  --emerald-light: #10b981;
  --gold-accent: #D4AF37;
  --gold-dark: #996515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-emerald: var(--emerald-primary);
  --color-emerald-light: var(--emerald-light);
  --color-gold: var(--gold-accent);
  --color-gold-dark: var(--gold-dark);
  --font-sans: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

/* RESET TOTAL */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Permitimos que el scroll fluya naturalmente */
  overflow-x: hidden;
  height: 100%;
  background-color: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100%;
  width: 100vw; /* Forzamos el ancho del viewport */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  
  /* ELIMINADO: scrollbar-gutter: stable; <- ESTO ALEJABA EL SCROLLBAR */
}

/* SCROLLBAR SPACEX STYLE (Ultrafino y pegado al borde) */
::-webkit-scrollbar {
  width: 5px; /* Más delgado para máxima elegancia */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track transparente para que parezca que flota sobre el contenido */
}

