
  background-color: var(--color-red);
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 0px #000;
  width: 12%;
  text-transform: uppercase;
}
.menupage path {
  color: #bebebe !important;
  transition: all 0.3s ease-in-out;
}
.menupage path:hover {
  color: var(--color-red) !important;
}
.navitemli {
  border-bottom: 5px solid red;
}
@media (max-width: 600px) {
  .order-btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--color-red);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 5px 0px #000;
    width: 90%;
    display: block;
    margin: auto;
  }
}

.moving {
  > h1 {
    animation: moving 10s linear infinite;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes moving {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
